{% extends 'meal_map/base.html' %}
{% load static %}

{% block title %}
Account
{% endblock %}

{% block content %}
<div class="account-container">
    <div class="profile-section">
        {% if request.user.reviewer.profile_picture %}
        <img src="{{ request.user.reviewer.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
        {% elif request.user.restaurant_owner.profile_picture %}
        <img src="{{ request.user.restaurant_owner.profile_picture.url }}" alt="Profile Picture" class="profile-picture">
        {% else %}
        <img src="{% static 'images/default-profile.jpg' %}" alt="Profile Picture" class="profile-picture">
        {% endif %}

        <div class="profile-attributes">
            <form action="{% url 'meal_map:update_profile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" value="{{ request.user.username }}"><br>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{ request.user.email }}"><br>
                <label for="profile_picture">Profile Picture:</label>
                <input type="file" id="profile_picture" name="profile_picture"><br>
                <input type="submit" value="Update Profile" class="update-profile-btn">
            </form>
        </div>
    </div>


    <div class="reviews-section">
        {% if request.user.restaurant_owner %}
            <h1>Restaurant Owner</h1>
            {% if request.user.restaurant_owner.restaurant %}
                <a href="{% url 'meal_map:show_restaurant' request.user.restaurant_owner.restaurant.slug %}" class="btn view-restaurant-btn">View My Restaurant</a>
            {% else %}
                <a href="{% url 'meal_map:add_restaurant' %}" class="btn add-restaurant-btn">Add Restaurant</a>
            {% endif %}
        {% else %}
            <h1>Reviews</h1>
            <a href="{% url 'meal_map:my_reviews' %}" class="btn view-all-reviews-btn">All Reviews</a>

            <div class="recent-reviews">
                <h2>Recent Reviews</h2>
                {% if recent_reviews %}
                <ul class="review-list">
                    {% for review in recent_reviews %}
                    <li class="review-item">
                        <div class="review-content">
                            <span class="reviewer-name">{{ review.reviewer.user.username }}</span>
                            <span class="review-restaurant"> <a style="text-decoration: none;" href="{% url 'meal_map:show_restaurant' restaurant_name_slug=review.restaurant.slug %}">{{review.restaurant.name}}</a></span> 
                            <span class="review-rating">{{ review.rating }}</span>
                            <p class="review-text">{{ review.review_text }}</p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No recent reviews found.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}