{% extends 'meal_map/base.html' %}
{% load staticfiles %}

{% block title %}
    Add Restaurant
{% endblock %}

{% block content %}
<div class="add_restaurant-container">
    <h1>Add Restaurant</h1>
    <form id="restaurant_form" method="post" action="{% url 'meal_map:add_restaurant' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
               
                {{ field }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {{ field.errors }}
            </div>
        {% endfor %}
        <input type="submit" name="submit" value="Add Restaurant" />
    </form>
</div>
{% endblock %}