<!-- base.html -->
<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        MealMap - 
        {% block title %}

        {% endblock %}
    </title>
    <!-- Link to CSS files -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Link to JS files -->
</head>

<body>
    <div>
    <header class="header">
        <a href="/meal-map/homepage/" class="logo">
            <img src="{% static 'images/logo.jpeg' %}" alt="Picture of logo" />
        </a>

        <nav class="navbar">

            <ul class="nav-links">
                
                {% if user.is_authenticated %}
                    <a href="{% url 'meal_map:my_account' %}">Account</a>
                    <a href="{% url 'meal_map:logout' %}">Sign Out</a>
                {% else %}
                    <a href="{% url 'meal_map:register' %}">Sign Up</a>
                    <a href="{% url 'meal_map:login' %}">Sign In</a>
                {% endif %}
            </ul>

        </nav>
    </header>
    </div>

    <div>
    <main class="main-content">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
        </div>

    </main>
    <div>

    <footer>
        <!-- Footer content -->
    </footer>

    {% block scripts %}
    <!-- Additional scripts can be added by child templates -->
    {% endblock %}
</body>
</html>