{% extends 'meal_map/base.html' %}
{% load static %}

{% block content %}
<div class="homepage-container">
    <h2>Top Restaurants</h2>
    <div class="restaurant-list">
        {% for restaurant in top_restaurants %}
        <div class="restaurant-item">
            {% if restaurant.photo %}
            <a href= "{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"> <img src="{{ restaurant.photo.url }}" alt="{{ restaurant.name }}"></a>
            {% else %}
            <img src="{% static 'images/placeholder.jpg' %}" alt="Default Image">
            {% endif %}
            <a href ="{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"> <h3>{{ restaurant.name }}</h3></a>
        </div>
        {% endfor %}
    </div>

    <h2>New Restaurants</h2>
    <div class="restaurant-list">
        {% for restaurant in new_restaurants %}
        <div class="restaurant-item">
            {% if restaurant.photo %}
            <a href= "{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"> <img src="{{ restaurant.photo.url }}" alt="{{ restaurant.name }}"></a>
            {% else %}
            <img src="{% static 'images/placeholder.jpg' %}" alt="Default Image">
            {% endif %}
            <a href ="{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"><h3>{{ restaurant.name }}</h3></a>
        </div>
        {% endfor %}
    </div>

    <h2>Discover</h2>
    {% for category, restaurants in category_restaurants.items %}
    <h3>{{ category }}</h3>
    <div class="restaurant-list">
        {% for restaurant in restaurants %}
        <div class="restaurant-item">
            {% if restaurant.photo %}
            <a href= "{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"> <img src="{{ restaurant.photo.url }}" alt="{{ restaurant.name }}"></a>
            {% else %}
            <img src="{% static 'images/placeholder.jpg' %}" alt="Default Image">
            {% endif %}
            <a href ="{% url 'meal_map:show_restaurant' restaurant_name_slug=restaurant.slug %}"><h3>{{ restaurant.name }}</h3></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}