{% extends 'meal_map/base.html' %}
{% load staticfiles %}

{% block title %}
Login
{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Login to MealMap</h1>
    <form id="loginForm" method="post" action="{% url 'meal_map:login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}