{% extends 'meal_map/base.html' %}
{% load static %}

{% block title %}
    My Reviews
{% endblock %}

{% block content %}
<div class="my-reviews-container">
    <h1>My Reviews</h1>
    {% if all_reviews %}
    <ul class="review-list">
        {% for review in all_reviews %}
        <li class="review-item">
            <div class="review-content">
                <span class="restaurant-name"><a style="text-decoration: none;" href="{% url 'meal_map:show_restaurant' restaurant_name_slug=review.restaurant.slug %}">{{ review.restaurant.name }}</a></span>
                <span class="review-rating">{{ review.rating }}</span>
                <p class="review-text">{{ review.review_text }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No reviews found.</p>
    {% endif %}
</div>
{% endblock %}