{% extends 'meal_map/base.html' %}
{% load static %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="register-container">
    <h1>Register for MealMap</h1>
    <div class="account-type">
        <h2>Select Account Type:</h2>
        <button id="reviewerBtn">Reviewer</button>
        <button id="restaurantBtn">Restaurant</button>
    </div>
    <div id="formContainer">
        <form id="reviewerForm" style="display: none;" action="{% url 'meal_map:register' %}" method="post" enctype="multipart/form-data" name="register_reviewer">
            {% csrf_token %}
            <!-- Reviewer form fields -->
            {{ reviewer_form.as_p }}
            <input type="submit" value="Register as Reviewer" name="register_reviewer">
        </form>
        <form id="restaurantForm" style="display: none;" action="{% url 'meal_map:register' %}" method="post" enctype="multipart/form-data" name="register_restaurant_owner">
            {% csrf_token %}
             <!-- Restaurant form fields -->
            {{ restaurant_form.as_p }} <!-- Render the fields for the restaurant owner form -->
            <input type="submit" value="Register as Restaurant Owner" name="register_restaurant_owner">
        </form>
    </div>
    <div id="error-message">
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>    
</div>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('reviewerBtn').addEventListener('click', function() {
        document.getElementById('reviewerForm').style.display = 'block';
        document.getElementById('restaurantForm').style.display = 'none';
    });

    document.getElementById('restaurantBtn').addEventListener('click', function() {
        document.getElementById('reviewerForm').style.display = 'none';
        document.getElementById('restaurantForm').style.display = 'block';
    });
    
</script>
{% endblock %}
